html{ background: url(../img/bgpattern.jpg); overflow-y: scroll; }
body{ background-color: transparent; }

#contacts { margin:auto; }
.contact-wrapper {
	background: #fafafa;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	width: 31.19373219373219%;
	margin: 10px 10px;
	display: inline-block;
	vertical-align: top;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;	
	border: 1px solid #bbb;

	box-shadow: inset 0 1px 0 #fff, inset 0 0 40px rgba(0,0,0,0.05), 0 0 6px rgba(0,0,0,0.1);

	padding: 10px;
}
.contact-wrapper:nth-child(2n) { margin-left: none; }
div[role=header]{ position: relative; }
#addContact { 
	/*
	display: none; 
	position: absolute; 
	top: 50px;
	right: 0;
	z-index: 4;
	*/
}